# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\analizy\CP\CPDoc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
